.cart-page {
  display: flex;
  gap: 30px;
}

.cart-left {
  flex: 2;
}

.cart-right {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.cart-item {
  display: flex;
  gap: 15px;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-item img {
  width: 100px;
}

.qty button {
  width: 30px;
}

.remove {
  color: red;
}

.checkout {
  width: 100%;
  padding: 10px;
  background: green;
  color: white;
}